/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

.overflow-hidden {
  overflow: auto; }

/* --------------------------------

Main components

-------------------------------- */
.cd-main-content, .cd-main-content-fixed {
  /* set a min-height and a z-index to be sure that the main element completely covers the lateral menu */
  min-height: 100%;
  position: relative;
  background-color: #f0f0f0;
  z-index: 5;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; }
  .cd-main-content.lateral-menu-is-open, .cd-main-content-fixed.lateral-menu-is-open {
    /* translate to show the lateral menu - all content needs to be put in the .cd-main-content to translate*/
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px); }

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #e4e5e5;
  z-index: 6;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; }
  header.lateral-menu-is-open {
    /* translate to show the lateral menu */
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px); }
  header.is-fixed {
    position: fixed; }
  @media only screen and (min-width: 768px) {
    header {
      height: 100px; } }
  @media only screen and (min-width: 1170px) {
    header {
      height: 100px; } }

#logo {
  display: block;
  float: left;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  margin: 15px 0 0 10px; }
  @media only screen and (min-width: 768px) {
    #logo {
      margin: 40px 0 0 30px; } }
  @media only screen and (min-width: 1170px) {
    #logo {
      margin: 40px 0 0 40px; } }
  #logo img {
    display: block;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */ }

/*
#cd-top-nav {
	position: absolute;
	top: 0;
	right: 120px;
	height: 100%;

	display: none;

	ul {
		height: 100%;
		padding-top: 18px;
	}

	li {
		display: inline-block;
		margin-right: 1em;
	}

	a {
		display: inline-block;
		padding: .5em;
		color: $main-text;
		text-transform: uppercase;
		//font-weight: 600;

		&.current {
			background-color: $color-menu-txt-current;
		}

		.no-touch &:hover {
			color: $main-text;
		}
	}

	@include MQ(M) {
		display: block;
	}
}
*/
#cd-menu-trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: #FFFFFF;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */ }
  #cd-menu-trigger .cd-menu-text {
    height: 100%;
    text-transform: uppercase;
    color: #05171e;
    display: none; }
  #cd-menu-trigger .cd-menu-icon {
    /* this span is the central line in the menu menu */
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: #05171e;
    /* these are the upper and lower lines in the menu menu */ }
    #cd-menu-trigger .cd-menu-icon::before, #cd-menu-trigger .cd-menu-icon:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: inherit;
      left: 0; }
    #cd-menu-trigger .cd-menu-icon::before {
      bottom: 5px; }
    #cd-menu-trigger .cd-menu-icon::after {
      top: 5px; }
  #cd-menu-trigger.is-clicked .cd-menu-icon {
    background-color: rgba(255, 255, 255, 0); }
    #cd-menu-trigger.is-clicked .cd-menu-icon::before, #cd-menu-trigger.is-clicked .cd-menu-icon::after {
      background-color: #05171e; }
    #cd-menu-trigger.is-clicked .cd-menu-icon::before {
      bottom: 0;
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    #cd-menu-trigger.is-clicked .cd-menu-icon::after {
      top: 0;
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  @media only screen and (min-width: 768px) {
    #cd-menu-trigger {
      width: 150px;
      padding-left: 40px; }
      #cd-menu-trigger .cd-menu-text {
        display: inline-block;
        line-height: 102px; }
      #cd-menu-trigger .cd-menu-icon {
        left: auto;
        right: 40px;
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0); } }

#cd-lateral-nav {
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  visibility: hidden;
  /* the secondary navigation is covered by the main element */
  z-index: 1;
  width: 300px;
  background-color: #FFFFFF;
  overflow-y: auto;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
  -moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
  transition: transform .4s 0s, visibility 0s .4s;
  /* this creates the subtle slide in animation of the navigation */
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -webkit-transform: translateX(100px);
  transform: translateX(100px); }
  #cd-lateral-nav .cd-navigation {
    margin: 10px 0 16px; }
  #cd-lateral-nav .sub-menu {
    padding: 0 10px 20px 15px;
    display: none; }
  #cd-lateral-nav a {
    display: block;
    line-height: 2em;
    padding: 0 16px 0 32px;
    text-transform: uppercase;
    text-decoration: none;
    -moz-transition: color 0.2s ease-in;
    -o-transition: color 0.2s ease-in;
    -webkit-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in; }
    #cd-lateral-nav a.current, #cd-lateral-nav a.current-menu-item {
      color: #229dcd; }
    .no-touch #cd-lateral-nav a:hover {
      color: #229dcd; }
  #cd-lateral-nav .current-menu-item a, #cd-lateral-nav .current a {
    color: #229dcd !important; }
  @media only screen and (min-width: 768px) {
    #cd-lateral-nav .cd-navigation {
      margin: 20px 0; } }
  #cd-lateral-nav.lateral-menu-is-open {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
    transition: transform .4s 0s, visibility 0s 0s;
    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch; }

/* style menu items which have a submenu  */
#cd-lateral-nav .item-has-children > a, #cd-lateral-nav .menu-item-has-children > a {
  position: relative;
  /* this is the right arrow to show that the item has a submenu  */ }
  #cd-lateral-nav .item-has-children > a::after, #cd-lateral-nav .menu-item-has-children > a::after {
    content: '';
    display: block;
    height: 11px;
    width: 8px;
    position: absolute;
    top: 50%;
    bottom: auto;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1em;
    background: url("../img/cd-arrow.svg") no-repeat center center;
    background-size: 8px 11px;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s; }
  #cd-lateral-nav .item-has-children > a.submenu-open::after, #cd-lateral-nav .menu-item-has-children > a.submenu-open::after {
    -moz-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    -webkit-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg); }

#cd-lateral-nav .socials {
  overflow: hidden;
  *zoom: 1;
  padding: 0 32px; }
  #cd-lateral-nav .socials a {
    height: 32px;
    width: 32px;
    float: left;
    padding: 0;
    background-image: url("../img/cd-socials.svg");
    background-repeat: no-repeat;
    background-size: 128px 64px;
    background-color: #FFF;
    margin-right: .5em;
    border-radius: 16px;
    -moz-transition: background-color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in;
    -webkit-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in; }
    #cd-lateral-nav .socials a.cd-twitter {
      background-position: 0 0; }
    #cd-lateral-nav .socials a.cd-github {
      background-position: -32px 0; }
    #cd-lateral-nav .socials a.cd-facebook {
      background-position: -64px 0; }
    #cd-lateral-nav .socials a.cd-google {
      background-position: -96px 0; }
    .no-touch #cd-lateral-nav .socials a:hover {
      background-color: #05171e; }
      .no-touch #cd-lateral-nav .socials a:hover.cd-twitter {
        background-position: 0 -32px; }
      .no-touch #cd-lateral-nav .socials a:hover.cd-github {
        background-position: -32px -32px; }
      .no-touch #cd-lateral-nav .socials a:hover.cd-facebook {
        background-position: -64px -32px; }
      .no-touch #cd-lateral-nav .socials a:hover.cd-google {
        background-position: -96px -32px; }

/* --------------------------------
extends
-------------------------------- */
#cd-lateral-nav a, #cd-lateral-nav .socials a, #content div.title .post-nav .post-button, #contact div.title .post-nav .post-button, #detail-photography div.cookietrail .post-nav .post-button, #detail-photography div.title .post-nav .post-button, #detail-video div.cookietrail .post-nav .post-button, #detail-video div.title .post-nav .post-button, #portfolio-photography div.filters .post-nav .post-button, #home .panel div.button, #detail-photography .gallery-button, #detail-video .gallery-button, #portfolio-photography div.filters button {
  cursor: pointer; }

@media only screen and (min-width: 320px) {
  #content div.title .post-nav, #contact div.title .post-nav, #detail-photography div.cookietrail .post-nav, #detail-photography div.title .post-nav, #detail-video div.cookietrail .post-nav, #detail-video div.title .post-nav, #portfolio-photography div.filters .post-nav, #portfolio-photography div.filters, #portfolio-photography div.items div.item > div div.title {
    display: none; } }
@media only screen and (min-width: 768px) {
  #content div.title .post-nav, #contact div.title .post-nav, #detail-photography div.cookietrail .post-nav, #detail-photography div.title .post-nav, #detail-video div.cookietrail .post-nav, #detail-video div.title .post-nav, #portfolio-photography div.filters .post-nav, #portfolio-photography div.filters, #portfolio-photography div.items div.item > div div.title {
    display: block; } }

#content div.title, #contact div.title, #detail-photography div.cookietrail, #detail-photography div.title, #detail-video div.cookietrail, #detail-video div.title, #portfolio-photography div.filters {
  position: absolute;
  left: 0;
  width: 100%;
  float: left;
  height: 60px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 0;
  top: 50px;
  z-index: 9999;
  background-color: #dbdcdd; }
  @media only screen and (min-width: 768px) {
    #content div.title, #contact div.title, #detail-photography div.cookietrail, #detail-photography div.title, #detail-video div.cookietrail, #detail-video div.title, #portfolio-photography div.filters {
      height: 60px;
      padding-top: 20px;
      padding-left: 30px;
      top: 100px; } }
  @media only screen and (min-width: 1170px) {
    #content div.title, #contact div.title, #detail-photography div.cookietrail, #detail-photography div.title, #detail-video div.cookietrail, #detail-video div.title, #portfolio-photography div.filters {
      height: 60px;
      padding-top: 20px;
      padding-left: 40px;
      top: 100px; } }
  #content div.title .post-nav, #contact div.title .post-nav, #detail-photography div.cookietrail .post-nav, #detail-photography div.title .post-nav, #detail-video div.cookietrail .post-nav, #detail-video div.title .post-nav, #portfolio-photography div.filters .post-nav {
    top: 0px;
    right: 0px;
    position: absolute;
    float: right;
    width: 50px; }
    @media only screen and (min-width: 768px) {
      #content div.title .post-nav, #contact div.title .post-nav, #detail-photography div.cookietrail .post-nav, #detail-photography div.title .post-nav, #detail-video div.cookietrail .post-nav, #detail-video div.title .post-nav, #portfolio-photography div.filters .post-nav {
        width: 150px; } }
    @media only screen and (min-width: 1170px) {
      #content div.title .post-nav, #contact div.title .post-nav, #detail-photography div.cookietrail .post-nav, #detail-photography div.title .post-nav, #detail-video div.cookietrail .post-nav, #detail-video div.title .post-nav, #portfolio-photography div.filters .post-nav {
        width: 150px; } }
    #content div.title .post-nav .post-button, #contact div.title .post-nav .post-button, #detail-photography div.cookietrail .post-nav .post-button, #detail-photography div.title .post-nav .post-button, #detail-video div.cookietrail .post-nav .post-button, #detail-video div.title .post-nav .post-button, #portfolio-photography div.filters .post-nav .post-button {
      -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
      -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
      -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
      z-index: 19;
      border: none;
      top: 0px;
      text-transform: uppercase;
      color: #05171e;
      font-size: 1em;
      float: right;
      width: 25px;
      height: 60px; }
      #content div.title .post-nav .post-button::-moz-selection, #contact div.title .post-nav .post-button::-moz-selection, #detail-photography div.cookietrail .post-nav .post-button::-moz-selection, #detail-photography div.title .post-nav .post-button::-moz-selection, #detail-video div.cookietrail .post-nav .post-button::-moz-selection, #detail-video div.title .post-nav .post-button::-moz-selection, #portfolio-photography div.filters .post-nav .post-button::-moz-selection {
        color: #FFFFFF;
        background-color: #05171e; }
      #content div.title .post-nav .post-button::selection, #contact div.title .post-nav .post-button::selection, #detail-photography div.cookietrail .post-nav .post-button::selection, #detail-photography div.title .post-nav .post-button::selection, #detail-video div.cookietrail .post-nav .post-button::selection, #detail-video div.title .post-nav .post-button::selection, #portfolio-photography div.filters .post-nav .post-button::selection {
        color: #FFFFFF;
        background-color: #05171e; }
      @media only screen and (min-width: 768px) {
        #content div.title .post-nav .post-button, #contact div.title .post-nav .post-button, #detail-photography div.cookietrail .post-nav .post-button, #detail-photography div.title .post-nav .post-button, #detail-video div.cookietrail .post-nav .post-button, #detail-video div.title .post-nav .post-button, #portfolio-photography div.filters .post-nav .post-button {
          width: 75px;
          height: 60px; } }
      @media only screen and (min-width: 1170px) {
        #content div.title .post-nav .post-button, #contact div.title .post-nav .post-button, #detail-photography div.cookietrail .post-nav .post-button, #detail-photography div.title .post-nav .post-button, #detail-video div.cookietrail .post-nav .post-button, #detail-video div.title .post-nav .post-button, #portfolio-photography div.filters .post-nav .post-button {
          width: 75px;
          height: 60px; } }
      #content div.title .post-nav .post-button:focus, #contact div.title .post-nav .post-button:focus, #detail-photography div.cookietrail .post-nav .post-button:focus, #detail-photography div.title .post-nav .post-button:focus, #detail-video div.cookietrail .post-nav .post-button:focus, #detail-video div.title .post-nav .post-button:focus, #portfolio-photography div.filters .post-nav .post-button:focus {
        outline: 0; }
      #content div.title .post-nav .post-button:hover, #contact div.title .post-nav .post-button:hover, #detail-photography div.cookietrail .post-nav .post-button:hover, #detail-photography div.title .post-nav .post-button:hover, #detail-video div.cookietrail .post-nav .post-button:hover, #detail-video div.title .post-nav .post-button:hover, #portfolio-photography div.filters .post-nav .post-button:hover {
        background-color: rgba(5, 23, 30, 0.2); }
      #content div.title .post-nav .post-button.button-next, #contact div.title .post-nav .post-button.button-next, #detail-photography div.cookietrail .post-nav .post-button.button-next, #detail-photography div.title .post-nav .post-button.button-next, #detail-video div.cookietrail .post-nav .post-button.button-next, #detail-video div.title .post-nav .post-button.button-next, #portfolio-photography div.filters .post-nav .post-button.button-next {
        float: right; }
      #content div.title .post-nav .post-button.button-previous, #contact div.title .post-nav .post-button.button-previous, #detail-photography div.cookietrail .post-nav .post-button.button-previous, #detail-photography div.title .post-nav .post-button.button-previous, #detail-video div.cookietrail .post-nav .post-button.button-previous, #detail-video div.title .post-nav .post-button.button-previous, #portfolio-photography div.filters .post-nav .post-button.button-previous {
        float: left; }
    #content div.title .post-nav .post-thumb, #contact div.title .post-nav .post-thumb, #detail-photography div.cookietrail .post-nav .post-thumb, #detail-photography div.title .post-nav .post-thumb, #detail-video div.cookietrail .post-nav .post-thumb, #detail-video div.title .post-nav .post-thumb, #portfolio-photography div.filters .post-nav .post-thumb {
      -moz-transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out;
      -o-transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out;
      -webkit-transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out;
      transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out;
      z-index: 18; }
      #content div.title .post-nav .post-thumb.hidden, #contact div.title .post-nav .post-thumb.hidden, #detail-photography div.cookietrail .post-nav .post-thumb.hidden, #detail-photography div.title .post-nav .post-thumb.hidden, #detail-video div.cookietrail .post-nav .post-thumb.hidden, #detail-video div.title .post-nav .post-thumb.hidden, #portfolio-photography div.filters .post-nav .post-thumb.hidden {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        height: 0px !important; }
        #content div.title .post-nav .post-thumb.hidden .post-previous-thumb, #contact div.title .post-nav .post-thumb.hidden .post-previous-thumb, #detail-photography div.cookietrail .post-nav .post-thumb.hidden .post-previous-thumb, #detail-photography div.title .post-nav .post-thumb.hidden .post-previous-thumb, #detail-video div.cookietrail .post-nav .post-thumb.hidden .post-previous-thumb, #detail-video div.title .post-nav .post-thumb.hidden .post-previous-thumb, #portfolio-photography div.filters .post-nav .post-thumb.hidden .post-previous-thumb, #content div.title .post-nav .post-thumb.hidden .post-next-thumb, #contact div.title .post-nav .post-thumb.hidden .post-next-thumb, #detail-photography div.cookietrail .post-nav .post-thumb.hidden .post-next-thumb, #detail-photography div.title .post-nav .post-thumb.hidden .post-next-thumb, #detail-video div.cookietrail .post-nav .post-thumb.hidden .post-next-thumb, #detail-video div.title .post-nav .post-thumb.hidden .post-next-thumb, #portfolio-photography div.filters .post-nav .post-thumb.hidden .post-next-thumb {
          height: 0px; }
    #content div.title .post-nav .post-previous-thumb, #contact div.title .post-nav .post-previous-thumb, #detail-photography div.cookietrail .post-nav .post-previous-thumb, #detail-photography div.title .post-nav .post-previous-thumb, #detail-video div.cookietrail .post-nav .post-previous-thumb, #detail-video div.title .post-nav .post-previous-thumb, #portfolio-photography div.filters .post-nav .post-previous-thumb, #content div.title .post-nav .post-next-thumb, #contact div.title .post-nav .post-next-thumb, #detail-photography div.cookietrail .post-nav .post-next-thumb, #detail-photography div.title .post-nav .post-next-thumb, #detail-video div.cookietrail .post-nav .post-next-thumb, #detail-video div.title .post-nav .post-next-thumb, #portfolio-photography div.filters .post-nav .post-next-thumb {
      -webkit-user-select: none;
      /* Chrome all / Safari all */
      -moz-user-select: none;
      /* Firefox all */
      -ms-user-select: none;
      /* IE 10+ */
      -moz-transition: height 0.1s ease-in-out;
      -o-transition: height 0.1s ease-in-out;
      -webkit-transition: height 0.1s ease-in-out;
      transition: height 0.1s ease-in-out;
      background-position: center center;
      background-size: cover;
      position: absolute;
      top: 60px;
      width: 50px;
      height: 50px; }
      @media only screen and (min-width: 768px) {
        #content div.title .post-nav .post-previous-thumb, #contact div.title .post-nav .post-previous-thumb, #detail-photography div.cookietrail .post-nav .post-previous-thumb, #detail-photography div.title .post-nav .post-previous-thumb, #detail-video div.cookietrail .post-nav .post-previous-thumb, #detail-video div.title .post-nav .post-previous-thumb, #portfolio-photography div.filters .post-nav .post-previous-thumb, #content div.title .post-nav .post-next-thumb, #contact div.title .post-nav .post-next-thumb, #detail-photography div.cookietrail .post-nav .post-next-thumb, #detail-photography div.title .post-nav .post-next-thumb, #detail-video div.cookietrail .post-nav .post-next-thumb, #detail-video div.title .post-nav .post-next-thumb, #portfolio-photography div.filters .post-nav .post-next-thumb {
          top: 60px;
          width: 150px;
          height: 150px; } }
      @media only screen and (min-width: 1170px) {
        #content div.title .post-nav .post-previous-thumb, #contact div.title .post-nav .post-previous-thumb, #detail-photography div.cookietrail .post-nav .post-previous-thumb, #detail-photography div.title .post-nav .post-previous-thumb, #detail-video div.cookietrail .post-nav .post-previous-thumb, #detail-video div.title .post-nav .post-previous-thumb, #portfolio-photography div.filters .post-nav .post-previous-thumb, #content div.title .post-nav .post-next-thumb, #contact div.title .post-nav .post-next-thumb, #detail-photography div.cookietrail .post-nav .post-next-thumb, #detail-photography div.title .post-nav .post-next-thumb, #detail-video div.cookietrail .post-nav .post-next-thumb, #detail-video div.title .post-nav .post-next-thumb, #portfolio-photography div.filters .post-nav .post-next-thumb {
          top: 60px;
          width: 150px;
          height: 150px; } }
      #content div.title .post-nav .post-previous-thumb.hidden, #contact div.title .post-nav .post-previous-thumb.hidden, #detail-photography div.cookietrail .post-nav .post-previous-thumb.hidden, #detail-photography div.title .post-nav .post-previous-thumb.hidden, #detail-video div.cookietrail .post-nav .post-previous-thumb.hidden, #detail-video div.title .post-nav .post-previous-thumb.hidden, #portfolio-photography div.filters .post-nav .post-previous-thumb.hidden, #content div.title .post-nav .post-next-thumb.hidden, #contact div.title .post-nav .post-next-thumb.hidden, #detail-photography div.cookietrail .post-nav .post-next-thumb.hidden, #detail-photography div.title .post-nav .post-next-thumb.hidden, #detail-video div.cookietrail .post-nav .post-next-thumb.hidden, #detail-video div.title .post-nav .post-next-thumb.hidden, #portfolio-photography div.filters .post-nav .post-next-thumb.hidden {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0; }

#home .panel {
  padding: 10px;
  padding-top: 60px; }
  @media only screen and (min-width: 768px) {
    #home .panel {
      padding: 30px;
      padding-top: 130px; } }
  @media only screen and (min-width: 1170px) {
    #home .panel {
      padding: 40px;
      padding-top: 140px; } }

#portfolio-photography .cd-main-content {
  padding: 10px;
  padding-top: 60px; }
  @media only screen and (min-width: 768px) {
    #portfolio-photography .cd-main-content {
      padding: 190px 30px 30px 30px; } }
  @media only screen and (min-width: 1170px) {
    #portfolio-photography .cd-main-content {
      padding: 200px 40px 40px 40px; } }

#detail-photography .cd-main-content, #detail-video .cd-main-content {
  padding: 110px 0 0 0; }
  @media only screen and (min-width: 768px) {
    #detail-photography .cd-main-content, #detail-video .cd-main-content {
      padding: 160px 0 0 0; } }
  @media only screen and (min-width: 1170px) {
    #detail-photography .cd-main-content, #detail-video .cd-main-content {
      padding: 160px 0 0 0; } }

#detail-photography .gallery-button, #detail-video .gallery-button {
  top: 110px; }
  @media only screen and (min-width: 768px) {
    #detail-photography .gallery-button, #detail-video .gallery-button {
      top: 160px; } }
  @media only screen and (min-width: 1170px) {
    #detail-photography .gallery-button, #detail-video .gallery-button {
      top: 160px; } }

/* --------------------------------
containers + typografie + style
-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *::-moz-selection, *:after::-moz-selection, *:before::-moz-selection {
    color: #f0f0f0;
    background-color: #05171e; }
  *::selection, *:after::selection, *:before::selection {
    color: #f0f0f0;
    background-color: #05171e; }

* {
  font-family: "news-gothic-std", sans-serif;
  font-size: 1em;
  color: #05171e; }

html, body {
  /* you need to set this to assign to the main element a min height of 100% */
  height: 100%; }

body {
  font-family: "news-gothic-std", sans-serif;
  font-size: 1em;
  line-height: 1.35294em;
  color: #05171e;
  background-color: #f0f0f0; }

a {
  color: #05171e;
  text-decoration: underline;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out; }
  a:hover {
    color: #229dcd;
    text-decoration: none; }

p {
  margin-bottom: 20px; }

/* heading */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-size: 1.23529em;
  line-height: 1.35294em;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase; }

h1.light, .h1.light {
  font-weight: 400; }

h2, .h2 {
  font-size: 1.23529em;
  font-weight: 400; }

h3, .h3 {
  font-size: 1.11765em;
  line-height: 1.23529em; }

h4, .h4 {
  font-size: 1.11765em;
  line-height: 1.23529em;
  font-weight: 400; }

h5, .h5,
h6, .h6 {
  font-size: 1em;
  line-height: 1.23529em;
  font-weight: 700; }

h6, .h6 {
  font-weight: 400; }

/* end headings */
.cd-wrapper ul, .cd-wrapper ol {
  list-style: disc;
  list-style-position: outside;
  margin-left: 20px; }
  .cd-wrapper ul li, .cd-wrapper ol li {
    margin-bottom: 10px; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #05171e;
  margin: 1em 0;
  padding: 0; }

strong {
  font-weight: 700; }

/* --------------------------------
table
-------------------------------- */
table tr {
  width: 100%;
  float: left; }
  @media only screen and (min-width: 768px) {
    table tr {
      width: 50%; } }
table th, table td {
  padding-bottom: 10px;
  vertical-align: top;
  white-space: normal; }
  table th:first-child, table td:first-child {
    width: auto;
    min-width: 100px;
    font-size: 0.88235em;
    padding-right: 10px;
    text-align: left; }

/* --------------------------------
buttons
-------------------------------- */
.button-next, .button-previous, .button-zoom, .button-info {
  background-position: center center;
  background-repeat: no-repeat; }

.button-next {
  background-image: url("../img/arrow-left.svg"); }

.button-previous {
  background-image: url("../img/arrow-right.svg"); }

.button-zoom {
  background-image: url("../img/button-zoom.svg"); }

.button-info {
  background-image: url("../img/button-info.svg"); }

/* --------------------------------
containers
-------------------------------- */
.cd-wrapper .cd-container {
  width: 100%;
  float: left;
  padding-left: 10px;
  padding-right: 10px; }
  @media only screen and (min-width: 768px) {
    .cd-wrapper .cd-container {
      padding-left: 30px;
      padding-right: 30px; } }
  @media only screen and (min-width: 1170px) {
    .cd-wrapper .cd-container {
      padding-left: 40px;
      padding-right: 40px; } }
  @media only screen and (min-width: 1170px) {
    .cd-wrapper .cd-container.half {
      width: 50%;
      float: left; }
      .cd-wrapper .cd-container.half:first-child {
        padding-left: 40px;
        padding-right: 20px; }
      .cd-wrapper .cd-container.half:last-child {
        padding-left: 20px;
        padding-right: 40px; } }

/* --------------------------------
end containers + typografie
-------------------------------- */
/* --------------------------------
home
-------------------------------- */
#home .panel {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 50%; }
  #home .panel.left {
    left: 0px;
    padding-right: 0px; }
  #home .panel.right {
    right: 0px;
    padding-left: 0px; }
    #home .panel.right div.button {
      left: 0px;
      right: 20px; }
  #home .panel div.button {
    -moz-transition: width 0.2s ease-in-out, height 0.2s ease-in-out, line-height, ease-in-out 0.2s;
    -o-transition: width 0.2s ease-in-out, height 0.2s ease-in-out, line-height, ease-in-out 0.2s;
    -webkit-transition: width 0.2s ease-in-out, height 0.2s ease-in-out, line-height, ease-in-out 0.2s;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, line-height, ease-in-out 0.2s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    right: 0;
    margin: auto;
    font-size: 0.82353em;
    text-align: center;
    text-transform: uppercase;
    background-color: #FFFFFF;
    z-index: 999;
    top: 50px;
    line-height: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50px; }
    #home .panel div.button::-moz-selection {
      color: #FFFFFF;
      background-color: #05171e; }
    #home .panel div.button::selection {
      color: #FFFFFF;
      background-color: #05171e; }
    @media only screen and (min-width: 768px) {
      #home .panel div.button {
        font-size: 1em;
        top: 100px;
        line-height: 200px;
        width: 200px;
        height: 200px;
        border-radius: 100px; } }
    @media only screen and (min-width: 1170px) {
      #home .panel div.button {
        font-size: 1em;
        top: 100px;
        line-height: 200px;
        width: 200px;
        height: 200px;
        border-radius: 100px; } }
    #home .panel div.button:hover {
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
  #home .panel div.slideshow {
    height: 100%;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    background-color: #05171e; }
    #home .panel div.slideshow div {
      -webkit-user-select: none;
      /* Chrome all / Safari all */
      -moz-user-select: none;
      /* Firefox all */
      -ms-user-select: none;
      /* IE 10+ */
      height: 16.66667%; }
      #home .panel div.slideshow div div.slide {
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover; }

/* --------------------------------
content
-------------------------------- */
#content .cd-main-content, #content .cd-main-content-fixed, #contact .cd-main-content, #contact .cd-main-content-fixed {
  height: 100%;
  width: 50%; }
#content .cd-main-content, #contact .cd-main-content {
  z-index: 5; }
#content .cd-main-content-fixed, #contact .cd-main-content-fixed {
  z-index: 4;
  position: fixed;
  left: auto;
  right: 0;
  top: 0;
  bottom: 0; }
#content div.title, #contact div.title {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */ }
#content.divide-two .panel, #contact.divide-two .panel {
  height: 100%;
  width: 100%; }
  #content.divide-two .panel::-moz-selection, #contact.divide-two .panel::-moz-selection {
    color: #f0f0f0;
    background-color: #05171e; }
  #content.divide-two .panel::selection, #contact.divide-two .panel::selection {
    color: #f0f0f0;
    background-color: #05171e; }
  #content.divide-two .panel.text, #contact.divide-two .panel.text {
    padding-top: 120px; }
    @media only screen and (min-width: 768px) {
      #content.divide-two .panel.text, #contact.divide-two .panel.text {
        padding-top: 190px; } }
    @media only screen and (min-width: 1170px) {
      #content.divide-two .panel.text, #contact.divide-two .panel.text {
        padding-top: 200px; } }
  #content.divide-two .panel.image, #contact.divide-two .panel.image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
    #content.divide-two .panel.image .slideshow, #contact.divide-two .panel.image .slideshow {
      width: 100%;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
#content.right .cd-main-content-fixed, #contact.right .cd-main-content-fixed {
  position: fixed;
  left: 0;
  right: auto;
  top: 0;
  bottom: 0; }
#content.right .cd-main-content, #contact.right .cd-main-content {
  float: right; }

#contact .cd-main-content-fixed {
  width: 100%; }
#contact .cd-main-content {
  background: transparent; }

/* --------------------------------
detail - photography, detail - video
-------------------------------- */
#detail-photography .cd-main-content, #detail-video .cd-main-content {
  height: 100%; }
#detail-photography div.cookietrail, #detail-photography div.title, #detail-video div.cookietrail, #detail-video div.title {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */ }
  #detail-photography div.cookietrail h1 a, #detail-photography div.title h1 a, #detail-video div.cookietrail h1 a, #detail-video div.title h1 a {
    text-decoration: none !important; }
#detail-photography .gallery, #detail-video .gallery {
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 5; }
  #detail-photography .gallery .flickity-viewport, #detail-video .gallery .flickity-viewport {
    width: 100%;
    /* full width */
    height: 100%; }
  #detail-photography .gallery .gallery-cell, #detail-video .gallery .gallery-cell {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute; }
    #detail-photography .gallery .gallery-cell img, #detail-video .gallery .gallery-cell img {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin: 0 auto;
      max-height: 600px; }
      @media (min-height: 1000px) {
        #detail-photography .gallery .gallery-cell img, #detail-video .gallery .gallery-cell img {
          height: auto;
          max-height: 1000px; } }
#detail-photography .gallery-buttons, #detail-video .gallery-buttons {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 5; }
#detail-photography .gallery-button, #detail-video .gallery-button {
  z-index: 19;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: rgba(5, 23, 30, 0.1);
  border: none;
  text-transform: uppercase;
  color: #05171e;
  font-size: 1em;
  width: 60px;
  height: 60px;
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto; }
  #detail-photography .gallery-button::-moz-selection, #detail-video .gallery-button::-moz-selection {
    color: #FFFFFF;
    background-color: #05171e; }
  #detail-photography .gallery-button::selection, #detail-video .gallery-button::selection {
    color: #FFFFFF;
    background-color: #05171e; }
  #detail-photography .gallery-button:focus, #detail-video .gallery-button:focus {
    outline: 0; }
  #detail-photography .gallery-button:hover, #detail-video .gallery-button:hover {
    background-color: rgba(5, 23, 30, 0.2); }
  #detail-photography .gallery-button.button-next, #detail-video .gallery-button.button-next {
    left: auto;
    right: 0px; }
  #detail-photography .gallery-button.button-zoom, #detail-video .gallery-button.button-zoom {
    left: auto;
    right: 0px;
    bottom: 120px; }
  #detail-photography .gallery-button.button-info, #detail-video .gallery-button.button-info {
    left: auto;
    right: 0px;
    bottom: 240px; }
#detail-photography .video, #detail-video .video {
  top: 0px;
  width: 100%;
  z-index: 5; }
  #detail-photography .video div.videoContainer, #detail-video .video div.videoContainer {
    text-align: center;
    width: 100%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px; }
    @media only screen and (min-width: 768px) {
      #detail-photography .video div.videoContainer, #detail-video .video div.videoContainer {
        padding-left: 30px;
        padding-right: 30px; } }
    @media only screen and (min-width: 1170px) {
      #detail-photography .video div.videoContainer, #detail-video .video div.videoContainer {
        padding-left: 40px;
        padding-right: 40px; } }
    @media only screen and (min-width: 1681px) {
      #detail-photography .video div.videoContainer, #detail-video .video div.videoContainer {
        padding-left: 40px;
        padding-right: 40px;
        width: 80%; } }
    #detail-photography .video div.videoContainer .videoWrapper, #detail-video .video div.videoContainer .videoWrapper {
      position: relative;
      margin-bottom: 10px;
      padding-top: 10px;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden; }
      @media only screen and (min-width: 768px) {
        #detail-photography .video div.videoContainer .videoWrapper, #detail-video .video div.videoContainer .videoWrapper {
          margin-bottom: 30px;
          padding-top: 30px; } }
      @media only screen and (min-width: 1170px) {
        #detail-photography .video div.videoContainer .videoWrapper, #detail-video .video div.videoContainer .videoWrapper {
          margin-bottom: 40px;
          padding-top: 40px; } }
    #detail-photography .video div.videoContainer .videoWrapper iframe, #detail-video .video div.videoContainer .videoWrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

/* --------------------------------
portfolio - photography
-------------------------------- */
#portfolio-photography div.filters button {
  -moz-transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  background: transparent;
  border: none;
  text-transform: uppercase;
  color: #05171e;
  font-size: 1em;
  padding: 0;
  margin: 0;
  margin-right: 20px; }
  #portfolio-photography div.filters button::-moz-selection {
    color: #FFFFFF;
    background-color: #05171e; }
  #portfolio-photography div.filters button::selection {
    color: #FFFFFF;
    background-color: #05171e; }
  #portfolio-photography div.filters button:focus {
    outline: 0; }
  #portfolio-photography div.filters button:hover {
    color: #229dcd; }
  #portfolio-photography div.filters button.current, #portfolio-photography div.filters button.active {
    color: #229dcd; }
  #portfolio-photography div.filters button.hidden {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
  #portfolio-photography div.filters button.displayNone {
    display: none; }
#portfolio-photography div.filters span {
  text-transform: uppercase;
  margin-right: 20px;
  font-weight: 700; }
  #portfolio-photography div.filters span::-moz-selection {
    color: #FFFFFF;
    background-color: #05171e; }
  #portfolio-photography div.filters span::selection {
    color: #FFFFFF;
    background-color: #05171e; }
#portfolio-photography div.items {
  top: 0px;
  width: 100%; }
  #portfolio-photography div.items div.item {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out; }
    #portfolio-photography div.items div.item.loaded {
      filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
      opacity: 1; }
    #portfolio-photography div.items div.item > div {
      width: 100%;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: auto;
      background-image: url("../img/ajax-loader.gif");
      overflow: hidden;
      position: relative; }
      #portfolio-photography div.items div.item > div img {
        -moz-transition: top 0.2s ease-in-out;
        -o-transition: top 0.2s ease-in-out;
        -webkit-transition: top 0.2s ease-in-out;
        transition: top 0.2s ease-in-out;
        top: 0px;
        position: relative;
        border: 0px solid #f0f0f0; }
      #portfolio-photography div.items div.item > div div.title {
        -moz-transition: bottom 0.2s ease-in-out;
        -o-transition: bottom 0.2s ease-in-out;
        -webkit-transition: bottom 0.2s ease-in-out;
        transition: bottom 0.2s ease-in-out;
        position: absolute;
        background-color: #ffffff;
        width: 100%;
        padding: 10px;
        text-transform: uppercase;
        font-size: 0.76471em;
        bottom: -40px;
        height: 40px; }
        @media only screen and (min-width: 768px) {
          #portfolio-photography div.items div.item > div div.title {
            bottom: -40px;
            height: 40px; } }
        @media only screen and (min-width: 1170px) {
          #portfolio-photography div.items div.item > div div.title {
            bottom: -40px;
            height: 40px; } }
        #portfolio-photography div.items div.item > div div.title.double {
          bottom: -60px;
          height: 60px; }
          @media only screen and (min-width: 768px) {
            #portfolio-photography div.items div.item > div div.title.double {
              bottom: -60px;
              height: 60px; } }
          @media only screen and (min-width: 1170px) {
            #portfolio-photography div.items div.item > div div.title.double {
              bottom: -60px;
              height: 60px; } }
    @media only screen and (min-width: 768px) {
      #portfolio-photography div.items div.item.active img {
        top: -10px; } }
    @media only screen and (min-width: 1170px) {
      #portfolio-photography div.items div.item.active img {
        top: -10px; } }
    #portfolio-photography div.items div.item.active div.title, #portfolio-photography div.items div.item.active div.title.double {
      bottom: 0px; }

/* --------------------------------
end styles
-------------------------------- */
