// colors
$main-text: #05171e;		// main text

$link: #05171e;				// anchor tags
$link-active: lighten($link, 40);

$background: #f0f0f0;		// body background color

$color-header: #e4e5e5;

$color-menu: #FFFFFF;
$color-menu-txt: #05171e;
$color-menu-txt-current: $link-active;

$color-filters: #dbdcdd;

$color-home-button: #FFFFFF;
$color-home-button-txt: $main-text;

$color-detail-button-bg: rgba($main-text, 0.1);
$color-detail-button-bg-hover: rgba($main-text, 0.2);

$color-items-bg-hover: #ffffff;

// fonts
$browser-context: 17; // Default size
$primary-font: 'news-gothic-std', sans-serif;
// weights : 400 700

// z-index
$secondary-nav: 1;
$header-zindex: 6;

$content-zindex: 5;
$content-fixed-zindex: 4;
$content-nav-zindex: 19;

// heights && paddings
$header-S: 50px;
$header-M: 100px;
$header-L: 100px;

$padding-S: 10px;
$padding-M: 30px;
$padding-L: 40px;

$filter-S: 60px;
$filter-M: 60px;
$filter-L: 60px;

$button-detail-S: 60px;
$button-detail-M: 60px;
$button-detail-L: 60px;

// menu
$menu-width: 300px;
$menu-button-width-S: 50px;
$menu-button-width-M: 150px;
$menu-button-width-L: 150px;

// listing .item .title height
$item-title-height-S: 40px;
$item-title-height-M: 40px;
$item-title-height-L: 40px;

$item-title-height-double-S: 60px;
$item-title-height-double-M: 60px;
$item-title-height-double-L: 60px;

$item-img-height-S: 10px;
$item-img-height-M: 10px;
$item-img-height-L: 10px;

//$detail-gallery-height-large: (min-height 1000px) (orientation portrait);
$detail-gallery-height-large: (min-height 1000px);